:root {
  --primary-color: #1b1b1b;
  --secondary-color: #333;
  --accent-color: #e1624f;
  --headline-font-size: 16px;
  --headline-font-weight: 700;
  --normal-font-size: 16px;
  --normal-font-weight: 400;
  --line-height: normal;
  --font-family: "Open Sans", sans-serif;
  --footer-font-family: Alice, serif;
  --footer-line-height: 150%;
  --line-color: #d9d9d9;
  --gap: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  display: inline-flex;
  padding: 88px 80px 48px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap);
  background-color: #f5f4f0;
}

img {
  margin-bottom: 20px;
  border-radius: 28px;
}

.text-headline,
.italic,
h1,
h3,
.text-primary,
p,
#good-for,
li {
  font-family: var(--font-family);
  font-size: var(--headline-font-size);
  font-style: normal;
  font-weight: var(--headline-font-weight);
  line-height: var(--line-height);
}

.text-headline {
  align-self: stretch;
  color: var(--accent-color);
  text-transform: uppercase;
}

.italic {
  height: 37px;
  align-self: stretch;
  text-align: center;
  font-style: italic;
  font-weight: var(--normal-font-weight);
  margin-top: 24px;
  margin-bottom: 44px;
  color: var(--secondary-color);
}

h1 {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 44px;
}

h3 {
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.text-primary {
  align-self: stretch;
  font-size: 36px;
  margin-bottom: 8px;
}

.text-secondary {
  margin-bottom: 64px;
}

#line1,
#line2 {
  width: 1120px;
  height: 1px;
  background: var(--line-color);
}

#line1 {
  margin-bottom: 64px;
}

#line2 {
  margin: 40px 0;
}

p {
  max-width: 1120px;
  color: var(--secondary-color);
  font-weight: var(--normal-font-weight);
}

#good-for {
  color: var(--text-secondary, var(--secondary-color));
  margin-top: 22px;
}

li {
  font-weight: var(--headline-font-weight);
}

.history {
  color: #0c51a7;
  margin-bottom: 48px;

}

.couples {
  color: #591b98;
}

.families {
  color: #e5245e;
}

.budget {
  color: #e95e10;
}

#haedong,
.text-primary {
  margin-bottom: 8px;
}

#conclusion {
  text-align: center;
}

footer {
  color: var(--secondary-color);
  font-family: var(--footer-font-family);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  line-height: var(--footer-line-height);
  text-align: center;
  margin-top: var(--gap);
}
